<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adoption d'Animaux</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/404.css') }}">

</head>
<body>
    <header>
        <div class="container">
            <h1>🐾 Service d'Adoption d'Animaux</h1>
            <nav>
                <a href="/">Accueil</a>
                <a href="/rechercher">Rechercher un animal</a>
                <a href="/mettre-en-adoption">Mettre un animal en adoption</a>
            </nav>
        </div>
    </header>

    <main>
        <section class="container">
            <h1> ERREUR <span>404</span>: PAGE INTROUVABLE !!!</h1>
            <a href="/" class="back-link">Retour à l'accueil</a>


        </section>



    </main>

    <footer>
        <div class="container">
            <p>&copy; 2024 Service d'Adoption d'Animaux | Tous droits réservés.</p>
        </div>
    </footer>
</body>
</html>